body{
    background-image: url(https://images.pexels.com/photos/268941/pexels-photo-268941.jpeg?cs=srgb&dl=pexels-pixabay-268941.jpg&fm=jpg);
    background-size: cover; 
    height: 90vh;
}
form{
    border: 1px solid white;
    background-color: black;
    margin: 10px 10px 10px 10px;
    padding: 30px 50px 30px 90px;
     box-sizing: border-box;  
    opacity: .7;
}
input{
    width: 100%;
    background-color: initial;
    height:60px;
    border: none;
    padding-left: 00px;
    font-size: 20px;
    color: white;
    border-bottom: 2px solid white;
}
input::placeholder{
    padding-left: 450px;
}
 #click{
    font-size: 20px;
    padding-left: 20px;
    border: none;
    background-color: white;
    color: red;
} 